body {
    font-family: Arial, sans-serif;
    font-size: $font-normal;
    line-height: 1.1;
    color: #000;
    background-color: #eee;
}

.footer-copyright {
    text-align: center;
}

.link {
    color: #fff;
}

a:hover {
 text-decoration: none;   
}