/* Variables file */


/* colors */

$primary-color:     #007BFF;
$seconday-color:    #28A745;
$white:             #fff;
$black:             #000;
$gray-color:        rgb(124, 119, 119);
$blueviolet-color:  #8A2BE2;   



/* font sizes */
$font-normal:   13px;
